body{
    display: grid;
    height:100vh;
    margin: 0;
    background-color: red;
    place-items: center;
    animation-name: chroma1;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
@keyframes chroma1{
    10%{background-color: red;}
    20%{background-color: orange;}
    30%{background-color: yellow;}
    40%{background-color: greenyellow;}
    50%{background-color: green;}
    60%{background-color: blue;}
    70%{background-color: cyan;}
    80%{background-color: palevioletred;}
    90%{background-color: magenta;}
    95%{background-color: purple;}
    100%{background-color: red;}
    
}
.box{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 400px;
    width: 400px;
    /* background-color: lightblue; */


}
.clock{
    display: grid;
   
    /* background-color: lightcoral; */
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}
#clock{
    display: grid;
    grid-column: 1/-1;
    grid-row: 1/-1;
    height: 400px;
    width: 400px;
}
@keyframes hourhand{
    from {transform: translateX(500px) translateY(-500px) rotate(0deg);}
    to {transform: translateX(500px) translateY(-500px) rotate(360deg);}
}
#hourhand{
    animation: hourhand 720s linear;
    display: grid;
    grid-column: 1/-1;
    grid-row: 1/-1;
    scale: 0.3;
    place-items: center;
    /* transform: translateX(500px)translateY(0); */
    transform-origin: 50% 90%;
    /* transition: all linear; */
    animation-iteration-count: infinite;
    
    
}
@keyframes minutehand{
    from {transform: translateX(530px) translateY(-830px) rotate(0deg);}
    to {transform: translateX(530px) translateY(-830px) rotate(360deg);}
}

#minutehand{
    animation: minutehand 60s linear;
    display: grid;
    grid-column: 1/-1;
    grid-row: 1/-1;
    scale: 0.3;
    place-items: center;
    /* transform: translateX(500px)translateY(0); */
    transform-origin: 50% 92%;
    /* transition: all linear; */
    animation-iteration-count: infinite;
}
.dot{
    display: grid;
    grid-column: 1/-1;
    grid-row: 1/-1;
    transform: translateX(190px) translateY(190px);
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}