:root{
    --green: #7bc144;
    --orange: #edcb35;
    --dark-gray: #333333;
    --svg-gray: #767676;
    --arrow-down: polygon(0% 0%, 100% 0%, 100% 85%, 60% 85%, 51% 100%, 40% 85%, 0 85%);
    --arrow-up: polygon(50% 50px, 60% 0, 100% 0, 100% 100%, 0 100%, 0 0, 40% 0);
}
@font-face {
    font-family: mukta;
    src: url(Fonts/Mukta-Regular.ttf);
}
body{
    margin: 0;
    padding: 0;
    font-family: mukta;
}
#gray-button{
    height: 40px;
    width: 130px;
    border-radius: 5px;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#gray-button:link, #gray-button:visited, #gray-button:hover, #gray-button:active{
    text-decoration: none;
    color: white;
    background-color: var(--dark-gray);
}


    .nav{
        display:flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        position:sticky;
        top: 0;
        width:100%;
        z-index: 10;
        background-color: white;
    }

    .divindiv{
        background-image: url(Materialer/hero-02.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        padding-bottom: 100px;
        
    }
    .divindiv h1{
        text-transform: uppercase;
        font-size: 3rem;
    }
    .divindiv a{
        height: 40px;
        width: 130px;
        border-radius: 5px;
        background-color: var(--green);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .divindiv a:link,.divindiv a:visited, .divindiv:hover, .divindiv:active{
        text-decoration: none;
        color: white;
    }
    .tjenester{
        /* background-color: lightcoral; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-rows: 1fr 1fr; */
        align-items: center;
        justify-items: center;
        background-color: white;
        clip-path: var(--arrow-up);
        margin-top: -150px;
        padding-top: 30px;
    }
    .tjenester h1{
        grid-column: 1/-1;
    }
    .tjenester article{
        display:flex;
        width: 200px;
        height: 300px;
        margin: 0px;
        flex-direction: column;
        text-align: center;
        padding: 0px;
        
    }
    .tjenester article img{
        scale: 0.8;
    }
    .tjenester article h2{
        font-size: 1.2rem;
    }
    .ombring{
        background-color: var(--orange);
        display:grid;
        grid-template-columns: 1fr 1fr;
        padding: 150px;
        clip-path: var(--arrow-up);
    }
    .ombring h1{
        font-size: 2rem;
        text-align: center;
        grid-column: 1/-1;
    }
    .ombring img{
        grid-column: 1/-1;
        height: 150px;
        width: 150px;
        margin: auto;
    }
    .ombring #gray-button{
        grid-column: 1/-1;
        margin: auto;
    }
    
    .e-handel{
        background-color: var(--green);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        text-align: center;
        clip-path: var(--arrow-up);
        margin-top: -50px;
        padding-bottom: 70px;

    }
    .e-handel img{
        height: 150px;
        width: 150px;
    }
    .e-handel h1{
        font-size: 2rem;
        color: white;
    }
    .e-handel p{
        color:white;        
    }
    .modtagerservice{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        text-align: center;
        padding-bottom: 100px;
        clip-path: var(--arrow-up);
        margin-top: -50px;
        
    }
    .modtagerservice img{
        height: 150px;
        width: 300px;
    }
    .modtagerservice h1{
        font-size: 2rem;
    }
    .kundeservice{
        background-color: var(--orange);
        clip-path: var(--arrow-up);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        padding-top: 40px;
        padding-bottom: 70px;
        margin-top: -50px;
    }
    .kundeservice img{
        width: 300px;
    }
    .join{
        background-image: url(Materialer/budbil1.jpg);
        background-position: center;
        background-size: cover;
        clip-path: var(--arrow-up);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 100px;
        margin-top: -60px;
    }
    .join h1{
        color: white;
        font-size: 3rem;
        margin-top: 30px;
    }
    .join #gray-button{
        background-color: var(--green);
    }
    .kontakt{
        background-color: var(--dark-gray);
        padding: 30px;
        clip-path: var(--arrow-up);
        margin-top: -50px;
        
        
    }
    .info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .hovedkvarter{
        grid-row: 1/-1;
    }
    
    
    .kontakt h1{
        color: white;
        text-align: center;
    }
    .kontakt h2{
        color: #7bc144;
    }
    .kontakt p{
        color: white;
    }
    
    .socials{
        height: 100px;
        width: 250px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }
    .socials svg{
        height: 50px;
        width: 50px;
        fill: var(--svg-gray);
    }
    @media screen and (max-width: 720px) {
        .tjenester{
            /* background-color: lightcoral; */
            display: grid;
            grid-template-columns: 1fr 1fr;
            /* grid-template-rows: 1fr 1fr; */
            align-items: center;
            justify-items: center;
            background-color: white;
            clip-path: var(--arrow-up);
            margin-top: -150px;
            padding-top: 30px;
        }
        .ombring{
        background-color: var(--orange);
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        clip-path: var(--arrow-up);
        margin-top: 20px;
        padding-bottom: 50px;
        }
        .kontakt{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }